Repository ecxyzzy/eddychen.ca: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

check-biome:
  run: pnpm fmt:biome -- {staged_files}
  stage_fixed: true

check-prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

chore: add ref to rss feed (thanks dante)
  apps/site/src/pages/index.astro
Due: check-prettier

feat: add eric
  apps/site/src/pages/index.astro
Due: check-prettier

feat: new blogpost
  apps/site/src/content/blog/wallet.mdx
Due: none

fix: sort rss items reverse chrono
  apps/site/src/pages/rss.xml.ts
Due: check-biome

chore: import aliases
  apps/site/src/components/Footer.astro
  apps/site/src/layouts/BaseLayout.astro
  apps/site/src/pages/blog/[id].astro
  apps/site/src/pages/blog/index.astro
  apps/site/src/pages/experience/index.astro
  apps/site/src/pages/index.astro
  apps/site/src/pages/name.astro
  apps/site/tsconfig.json
Due: check-prettier

chore: lib dir, helper for rev chron sorting fn
  apps/site/src/lib/rev-chron.ts
  apps/site/src/pages/blog/index.astro
  apps/site/src/pages/index.astro
  apps/site/src/pages/rss.xml.ts
  apps/site/tsconfig.json
Due: check-biome, check-prettier

chore(deps): update deps
  apps/site/package.json
  pnpm-lock.yaml
Due: check-prettier

feat: add id field to rss
  apps/site/src/pages/rss.xml.ts
Due: check-biome

chore: minor word omission
  apps/site/src/content/blog/wallet.mdx
Due: none

chore: add mdx to lefthook
  lefthook.yml
Due: check-prettier

feat: graduation
  apps/site/src/pages/index.astro
Due: check-prettier

fix: order of operations is hard, apparently
  apps/site/src/pages/index.astro
Due: check-prettier

feat: working now
  apps/site/src/pages/index.astro
Due: check-prettier

chore: create nvmrc
  .nvmrc
Due: none

chore: update onlyBuiltDependencies
  pnpm-workspace.yaml
Due: check-prettier

yuh
  apps/site/src/content/blog/hyperlocal-algorithmic-drivel.mdx
Due: none

add monad utils (fp slop)
  apps/site/src/lib/util/either.ts
  apps/site/src/lib/util/maybe.ts
  apps/site/src/lib/util/try.ts
  apps/site/src/lib/util/types.ts
Due: check-biome

implement (fp'd) private posts feature
  apps/site/package.json
  apps/site/src/lib/auth.ts
  apps/site/src/lib/base64.ts
  apps/site/src/lib/private-posts.ts
  apps/site/src/lib/rev-chron.ts
  apps/site/src/lib/typed-json-parse.ts
  apps/site/src/lib/types.ts
  apps/site/src/pages/private/[...slug].astro
  apps/site/src/pages/private/index.astro
  apps/site/worker-configuration.d.ts
  apps/site/wrangler.json
  pnpm-lock.yaml
Due: check-biome, check-prettier

broke dependencies award
  pnpm-lock.yaml
Due: check-prettier

use the framework the way its authors intended
  apps/site/src/lib/auth.ts
  apps/site/src/lib/private-posts.ts
  apps/site/src/pages/private/[...slug].astro
  apps/site/src/pages/private/index.astro
Due: check-biome, check-prettier

swapped paren
  apps/site/src/lib/base64.ts
Due: check-biome

pipelineify
  apps/site/src/lib/auth.ts
  apps/site/src/pages/private/[...slug].astro
  apps/site/src/pages/private/index.astro
Due: check-biome, check-prettier

flipped the sign
  apps/site/src/lib/auth.ts
Due: check-biome

used md award
  apps/site/src/lib/private-posts.ts
Due: check-biome

peek lib + test in prod
  apps/site/src/lib/peek.ts
  apps/site/src/lib/private-posts.ts
Due: check-biome

zod parse
  apps/site/package.json
  apps/site/src/lib/private-posts.ts
  apps/site/src/lib/schema.ts
  apps/site/src/lib/types.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

use parseOrThrow to throw stringified error
  apps/site/src/lib/parse-or-throw.ts
  apps/site/src/lib/private-posts.ts
  apps/site/src/lib/util/either.ts
  apps/site/src/lib/util/types.ts
Due: check-biome

explicit filter
  apps/site/src/lib/private-posts.ts
Due: check-biome

you are sheltering functional programmers, are you not?
  apps/site/src/lib/auth.ts
  apps/site/src/lib/base64.ts
  apps/site/src/lib/parse-or-throw.ts
  apps/site/src/lib/private-posts.ts
  apps/site/src/lib/util/guards.ts
  apps/site/src/lib/util/interfaces.ts
  apps/site/src/lib/util/task/task-either.ts
  apps/site/src/lib/util/task/task-list.ts
  apps/site/src/lib/util/task/task-maybe.ts
  apps/site/src/lib/util/task/task-try.ts
  apps/site/src/lib/util/types.ts
  apps/site/src/lib/util/value/either.ts
  apps/site/src/lib/util/value/list.ts
  apps/site/src/lib/util/value/maybe.ts
  apps/site/src/lib/util/value/try.ts
  apps/site/src/pages/index.astro
  apps/site/src/pages/private/[...slug].astro
  apps/site/src/pages/private/index.astro
  apps/site/src/pages/rss.xml.ts
Due: check-biome, check-prettier

naming nits
  apps/site/src/lib/auth.ts
Due: check-biome

pnpm11
  pnpm-workspace.yaml
Due: check-prettier

migrate to claustrum
  apps/site/package.json
  apps/site/src/lib/auth.ts
  apps/site/src/lib/base64.ts
  apps/site/src/lib/parse-or-throw.ts
  apps/site/src/lib/private-posts.ts
  apps/site/src/lib/util/guards.ts
  apps/site/src/lib/util/interfaces.ts
  apps/site/src/lib/util/task/task-either.ts
  apps/site/src/lib/util/task/task-list.ts
  apps/site/src/lib/util/task/task-maybe.ts
  apps/site/src/lib/util/task/task-try.ts
  apps/site/src/lib/util/types.ts
  apps/site/src/lib/util/value/either.ts
  apps/site/src/lib/util/value/list.ts
  apps/site/src/lib/util/value/maybe.ts
  apps/site/src/lib/util/value/try.ts
  apps/site/src/pages/private/[...slug].astro
  apps/site/src/pages/private/index.astro
  package.json
  pnpm-lock.yaml
Due: check-biome, check-prettier

fix build(?)
  package.json
Due: check-prettier

curried incorrectly award
  src/lib/auth.ts
Due: check-biome

fix auth?
  src/lib/auth.ts
  src/lib/base64.ts
  src/lib/buffer.ts
Due: check-biome

actually fix auth
  src/index.tsx
  src/lib/auth.ts
Due: check-biome

omfg i'm actually stupid
  src/lib/auth.ts
Due: check-biome

new blagpost award
  package.json
  pnpm-lock.yaml
  src/components/BlogPost.tsx
  src/content/blog/through-the-looking-glass.mdx
  src/lib/content.ts
Due: check-biome, check-prettier

feat: update claustrum, fix post list/archive
  package.json
  pnpm-lock.yaml
  src/components/BlogArchive.tsx
  src/components/Footer.tsx
  src/components/HomePage.tsx
  src/components/PrivatePosts.tsx
  src/lib/auth.ts
  src/lib/blog-posts.ts
  src/lib/private-posts.ts
Due: check-biome, check-prettier

Path conditions:
  check-biome: any of: *.{ts,cjs,mjs}
  check-prettier: any of: *.{json,yml,yaml,astro}
